#password-details {
  width: 80%;
  margin: auto;
  padding: 1.5%;
  text-align: center;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  float: center;
  display: block;
}

#submit {
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color: #44c767;
  border-radius: 30px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 10px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

#invalid-label {
  color: red;
  font-size: 13px;
  text-align: center;
}
