<html>
  <br />
  <br />
  <title>Post Message</title>
  <body>
    <script type = "text/javascript">
      var loadFile = function (event) {
      var image = document.getElementById("imagePreview2");
      image.src = URL.createObjectURL(event.target.files[0]);
      };
    </script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='message_post.css') }}"
    />
    <form
      id="message-form"
      method="POST"
      action="{{ url_for('.update_post') }}"
      enctype="multipart/form-data"
    >
      <div>
        <img
          id="imagePreview"
          src="{{image}}"
          alt="image"
          style="width: 120px; height: 120px"
        />
        <br />
        <a href="{{ url_for('.back') }}"><h4>{{user_name}}</h4></a>
      </div>
      <div id="message-frame">
        <div>
          &nbsp &nbsp &nbsp<img id = "imagePreview2" src = "{{imagePreview2}}" alt = "image" style="width:120px;height:120px;">
          <br>
          &nbsp &nbsp &nbsp &nbsp<input type="file" id="upload" name = "upload" accept="image/x-png,image/gif,image/jpeg" onchange="loadFile(event)"></input>
        </div>
        <br>
        <div id="subject-div">
          <label>Subject : </label>
          <input type="text" name="subject" class="textbox" value="{{ post_subject }}"/>
        </div>
        <br />
        <br />
        <div id="message-div">
          <label>Message : </label>
          &nbsp<input
            type="text"
            name="message"
            class="textbox"
            style="font-size: 12pt; height: 100px; width: 250px"
            value="{{ post_message }}"
          />
        </div>
        <br />
        <br />
        <div>
          <button type="submit" id="submit">Edit Post</button>
        </div>
      </div>
    </form>
  </body>
</html>
