<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='forum.css') }}"
    />
  </head>
  <title>Dashboard</title>
  <br />
  <div>
    <img
      id="imagePreview"
      src="{{image}}"
      alt="image"
      style="width: 120px; height: 120px"
    />
    <br />
    <a href="{{ url_for('.back') }}"><h4>Welcome {{user_name}}</h4></a>
  </div>
  <div class="header">
    <form id="login-form" method="POST">
      <a href="{{ url_for('.user_post_area') }}">User Post</a>
      <span class="space"></span>
      <a href="{{ url_for('.post_message') }}" id="customer" method="post">
        Message Posting
      </a>
      <span class="space"></span>
      <a href="{{ url_for('.message_display') }}" id="changePassword">
        Message Display
      </a>
      <span class="space"></span>
      <a href="{{ url_for('.logout') }}" id="logout"> Logout </a>
    </form>
  </div>
</html>
