<html>
  <br />
  <br />
  <title>
  Post Message
  </title> 
  <body>
    <a type="button" value="Back" href = "{{ url_for('.back') }}" >Back </a>
  <link rel="stylesheet" href="{{ url_for('static', filename='message_post.css') }}" />
    <form id="message-form" method="POST" action = "{{ url_for('.posted_message') }}">
    <div id = "message-frame">
        <div id="subject-div">
            <label>Subject : </label>
            <input type="text" name="subject" class="textbox" />
          </div>
          <br />
          <br />
      
          <div id="message-div">
            <label>Message : </label>
            &nbsp<input type="text" name="message" class="textbox" style="font-size: 12pt; height: 100px; width: 250px"/>
          </div>
          <br>
          <br>
          <form method="POST" action = "{{ url_for('.upload_file') }}">
              <div>
                &nbsp &nbsp &nbsp<input type="file" id="upload" accept="image/x-png,image/gif,image/jpeg"></input>
              </div>
          </form>
          <br />
          <div>
            <button type="submit" id="submit">Post Message</button>
          </div>
    </div>
    </form>
  </body>
</html>
