<!DOCTYPE html>
<html>
  <title>Register</title>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <script type = "text/javascript">
      var loadFile = function (event) {
      var image = document.getElementById("imagePreview");
      image.src = URL.createObjectURL(event.target.files[0]);
      };
    </script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login.css') }}"
    />
    <form
      id="login-form"
      method="POST"
      action="{{ url_for('.register_user')  }}"
      enctype="multipart/form-data"
    >
      <br />
      <br />
      <br />
      <div id="login-frame">
        <!-- <form method="POST" action = "{{ url_for('.upload_file') }}"> -->
          <div>
            <img id = "imagePreview" src = "#" alt = "image" style="width:120px;height:120px;">
            &nbsp &nbsp &nbsp<input type="file" id="upload" name = "upload" accept="image/x-png,image/gif,image/jpeg" onchange="loadFile(event)"></input>
          </div>
        <!-- </form> -->
        <br>

        <div id="user">
          <label for="Id">ID:</label>
          <input type="text" name="id" class="textbox" />
        </div>
        <br>
        <div id="user">
          <label for="Username">Username:</label>
          <input type="text" name="user" class="textbox" />
        </div>
        <br />
        <div id="pwd">
          <label for="Password">Password:</label>
          <input type="password" name="password" class="textbox" />
        </div>
        <br />
        <div>
          <button type="submit" id="submit">Register</button>
          <br />
          <label id="invalid-label" name="invalid">{{invalid}}</label>
        </div>
      </div>
    </form>
  </body>
</html>
