<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='forum.css') }}"
    />
  </head>
  <title>User Post Area</title>
  <br />
  <div>
    <img
      id="imagePreview"
      src="{{image}}"
      alt="image"
      style="width: 120px; height: 120px"
    />
    <br />
    <a href="{{ url_for('.back') }}"><h4>{{user_name}}</h4></a>
  </div>
  <div class="header">
    <form id="login-form" method="POST">
      <a href="{{ url_for('.edit_password') }}">Edit Password</a>
      <span class="space"></span>
      <a href="{{ url_for('.edit_post') }}" id="customer"> Edit Post </a>
    </form>
  </div>
</html>
